<div style="background-color: #222;">
  <div style="max-width: 1200px; margin: 0 auto; text-align: center; padding: 1em 0;">
    <nav class="sticky-navbar">
      <a href="/" style="color: white; margin: 0 15px; text-decoration: none;">Home</a>
      <a href="/eeProjects.html" style="color: white; margin: 0 15px; text-decoration: none;">Projects</a>
      <a href="/about.html" style="color: white; margin: 0 15px; text-decoration: none;">Designs</a>
    </nav>
  </div>
</div>


<!--
  <a href="/eeStudies.html" style="color: white; margin: 0 15px; text-decoration: none;">Studies</a>
      <a href="https://github.com/nickwhimsy" style="color: white; margin: 0 15px; text-decoration: none;">Github</a>
 -->
